body,h1 {
    font-family: Lucida, Geneva, sans-serif;
    font-weight: bold;
}
h1 {
  color: black;
  letter-spacing: 6px;
}

h2 {
  color: black;
  letter-spacing: 6px;
  font-weight: 900;
}

b.thicc {
  font-weight: 2400;
  font-size: 120px;
}

body {
  background-image: url(../images/geoBackground.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-attachment: fixed;

}

.w3-row-padding img {margin-bottom: 12px}
.rotateimg90 {
  -webkit-transform:rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

div.bio {
  background-color:white;
}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
